# Etude de la variable rsa

In [2]:
from datetime import date

import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
from numpy import logical_not as not_, minimum as min_, maximum as max_, logical_and as and_, logical_or as or_, round as round_


import openfisca_france
from openfisca_france.model.base import *

from openfisca_core.reforms import Reform

In [3]:
tax_benefit_system = openfisca_france.FranceTaxBenefitSystem()

### Le cas d'une personne seule sans enfant

In [4]:
simulation = tax_benefit_system.new_scenario().init_single_entity(
    axes = [
        dict(
            count = 20,
            min = 0,
            max = 50000,
            name = 'salaire_de_base',
            ),
        ],
    period = 2016,
    parent1 = dict(
        date_naissance = date(1991, 1, 1),
        ),
    ).new_simulation(debug = True)

In [5]:
individu_sans_enfant_rsa = simulation.calculate_add('rsa')/12
individu_sans_enfant_rsa

array([ 480.87002563,  338.61026001,  196.37571716,   54.10007095,
         30.45953178,   19.97146797,   15.23003674,   10.4877882 ,
          5.74663544,    1.00436401,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ], dtype=float32)

In [7]:
cice = simulation.calculate_add('credit_impot_competitivite_emploi')
cice

array([    0.        ,   157.89476013,   315.78952026,   473.68423462,
         631.57904053,   789.47381592,   947.36846924,  1105.26330566,
        1263.15808105,  1421.05236816,  1578.94763184,  1736.84191895,
        1894.73693848,  2052.6315918 ,  2210.52661133,  2368.42114258,
        2526.31616211,     0.        ,     0.        ,     0.        ], dtype=float32)

In [ ]:
individu_sans_enfant_salaire_de_base = simulation.calculate_add('salaire_de_base')/12
individu_sans_enfant_salaire_de_base

### Le cas d'une personne seule avec 1 enfant

In [ ]:
simulation = tax_benefit_system.new_scenario().init_single_entity(
    axes = [
        dict(
            count = 20,
            min = 0,
            max = 50000,
            name = 'salaire_de_base',
            ),
        ],
    period = 2016,
    parent1 = dict(
        date_naissance = date(1991, 1, 1),
        ),
    enfants = [
        dict(date_naissance = date(2006, 1, 1)),
     ],
).new_simulation(debug = True)

In [ ]:
individu_1_enfant_rsa = simulation.calculate_add('rsa')/12
individu_1_enfant_rsa

In [ ]:
individu_1_enfant_salaire_de_base = simulation.calculate_add('salaire_de_base')/12
individu_1_enfant_salaire_de_base

In [ ]:
# Cette manipulation permet d'égaliser la longueur des 2 tableaux (rsa et salaire de base)
i_1_enfant_salaire_de_base = []
i = 0
while (i < len(individu_1_enfant_salaire_de_base)):
    somme = 0
    valeur_1 = individu_1_enfant_salaire_de_base[i]
    i = i + 1
    valeur_2 = individu_1_enfant_salaire_de_base[i]
    somme = valeur_1 + valeur_2
    i_1_enfant_salaire_de_base.append(somme)
    i = i + 1
    
i_1_enfant_salaire_de_base

### Le cas d'une personne seule avec 2 enfants

In [ ]:
simulation = tax_benefit_system.new_scenario().init_single_entity(
    axes = [
        dict(
            count = 20,
            min = 0,
            max = 50000,
            name = 'salaire_de_base',
            ),
        ],
    period = 2016,
    parent1 = dict(
        date_naissance = date(1991, 1, 1),
        ),
    enfants = [
        dict(date_naissance = date(2006, 1, 1)),
        dict(date_naissance = date(2011, 1, 1)),
     ],
).new_simulation(debug = True)

In [ ]:
individu_2_enfants_rsa = simulation.calculate_add('rsa')/12
individu_2_enfants_rsa

In [ ]:
individu_2_enfants_salaire_de_base = simulation.calculate_add('salaire_de_base')/12
individu_2_enfants_salaire_de_base

In [ ]:
# Cette manipulation permet d'égaliser la longueur des 2 tableaux (rsa et salaire de base)
i_2_enfants_salaire_de_base = []
i = 0
while (i < len(individu_2_enfants_salaire_de_base)):
    somme = 0
    valeur_1 = individu_2_enfants_salaire_de_base[i]
    i = i + 1
    valeur_2 = individu_2_enfants_salaire_de_base[i]
    i = i + 1
    valeur_3 = individu_2_enfants_salaire_de_base[i]   
    somme = valeur_1 + valeur_2 + valeur_3
    i_2_enfants_salaire_de_base.append(somme)
    i = i + 1
    
i_2_enfants_salaire_de_base

### Le cas d'une personne seule avec 3 enfants

In [ ]:
simulation = tax_benefit_system.new_scenario().init_single_entity(
    axes = [
        dict(
            count = 20,
            min = 0,
            max = 50000,
            name = 'salaire_de_base',
            ),
        ],
    period = 2016,
    parent1 = dict(
        date_naissance = date(1991, 1, 1),
        ),
    enfants = [
        dict(date_naissance = date(2008, 1, 1)),
        dict(date_naissance = date(2004, 1, 1)),
        dict(date_naissance = date(2000, 1, 1)),
     ],
).new_simulation(debug = True)

In [ ]:
individu_3_enfants_rsa = simulation.calculate_add('rsa')/12
individu_3_enfants_rsa

In [ ]:
individu_3_enfants_salaire_de_base = simulation.calculate_add('salaire_de_base')/12
individu_3_enfants_salaire_de_base

In [ ]:
# Cette manipulation est nécessaire pour égaliser la longueur des 2 tableaux (rsa et salaire de base)
i_3_enfants_salaire_de_base = []
i = 0
while (i < len(individu_3_enfants_salaire_de_base)):
    somme = 0
    valeur_1 = individu_3_enfants_salaire_de_base[i]
    i = i + 1
    valeur_2 = individu_3_enfants_salaire_de_base[i]
    i = i + 1
    valeur_3 = individu_3_enfants_salaire_de_base[i]   
    i = i + 1
    valeur_4 = individu_3_enfants_salaire_de_base[i] 
    somme = valeur_1 + valeur_2 + valeur_3 + valeur_4
    i_3_enfants_salaire_de_base.append(somme)
    i = i + 1
    
i_3_enfants_salaire_de_base

### Le cas d'un couple sans enfant

In [ ]:
simulation = tax_benefit_system.new_scenario().init_single_entity(
    axes = [
        dict(
            count = 20,
            min = 0,
            max = 50000,
            name = 'salaire_de_base',
            ),
        ],
    period = 2016,
    parent1 = dict(
        date_naissance = date(1991, 1, 1),
        ),
    parent2 = dict(
        ),    
).new_simulation(debug = True)

In [ ]:
couple_sans_enfant_rsa = simulation.calculate_add('rsa')/12
couple_sans_enfant_rsa

In [ ]:
couple_sans_enfant_salaire_de_base = simulation.calculate_add('salaire_de_base')/12
couple_sans_enfant_salaire_de_base

In [ ]:
# Cette manipulation permet d'égaliser la longueur des 2 tableaux (rsa et salaire de base)
c_sans_enfant_salaire_de_base = []
i = 0
while (i < len(couple_sans_enfant_salaire_de_base)):
    somme = 0
    valeur_1 = couple_sans_enfant_salaire_de_base[i]
    i = i + 1
    valeur_2 = couple_sans_enfant_salaire_de_base[i]
    somme = valeur_1 + valeur_2
    c_sans_enfant_salaire_de_base.append(somme)
    i = i + 1
    
c_sans_enfant_salaire_de_base

### Le cas d'un couple avec 1 enfant

In [ ]:
simulation = tax_benefit_system.new_scenario().init_single_entity(
    axes = [
        dict(
            count = 20,
            min = 0,
            max = 50000,
            name = 'salaire_de_base',
            ),
        ],
    period = 2016,
    parent1 = dict(
        date_naissance = date(1991, 1, 1),
        ),
    parent2 = dict(
        ),  
    enfants = [
        dict(date_naissance = date(2006, 1, 1)),
        ],
).new_simulation(debug = True)

In [ ]:
couple_1_enfant_rsa = simulation.calculate_add('rsa')/12
couple_1_enfant_rsa

In [ ]:
couple_1_enfant_salaire_de_base = simulation.calculate_add('salaire_de_base')/12
couple_1_enfant_salaire_de_base

In [ ]:
# Cette manipulation permet d'égaliser la longueur des 2 tableaux (rsa et salaire de base)
c_1_enfant_salaire_de_base = []
i = 0
while (i < len(couple_1_enfant_salaire_de_base)):
    somme = 0
    valeur_1 = couple_1_enfant_salaire_de_base[i]
    i = i + 1
    valeur_2 = couple_1_enfant_salaire_de_base[i]
    i = i + 1
    valeur_3 = couple_1_enfant_salaire_de_base[i]   
    somme = valeur_1 + valeur_2 + valeur_3
    c_1_enfant_salaire_de_base.append(somme)
    i = i + 1
    
c_1_enfant_salaire_de_base

### Le cas d'un couple avec 2 enfants

In [ ]:
simulation = tax_benefit_system.new_scenario().init_single_entity(
    axes = [
        dict(
            count = 20,
            min = 0,
            max = 50000,
            name = 'salaire_de_base',
            ),
        ],
    period = 2016,
    parent1 = dict(
        date_naissance = date(1991, 1, 1),
        ),
    parent2 = dict(
        ),  
    enfants = [
        dict(date_naissance = date(2006, 1, 1)),
        dict(date_naissance = date(2011, 1, 1)),
        ],
).new_simulation(debug = True)

In [ ]:
couple_2_enfants_rsa = simulation.calculate_add('rsa')/12
couple_2_enfants_rsa

In [ ]:
couple_2_enfants_salaire_de_base = simulation.calculate_add('salaire_de_base')/12
couple_2_enfants_salaire_de_base

In [ ]:
# Cette manipulation permet d'égaliser la longueur des 2 tableaux (rsa et salaire de base)
c_2_enfants_salaire_de_base = []
i = 0
while (i < len(couple_2_enfants_salaire_de_base)):
    somme = 0
    valeur_1 = couple_2_enfants_salaire_de_base[i]
    i = i + 1
    valeur_2 = couple_2_enfants_salaire_de_base[i]
    i = i + 1
    valeur_3 = couple_2_enfants_salaire_de_base[i]   
    i = i + 1
    valeur_4 = couple_2_enfants_salaire_de_base[i] 
    somme = valeur_1 + valeur_2 + valeur_3 + valeur_4
    c_2_enfants_salaire_de_base.append(somme)
    i = i + 1
    
c_2_enfants_salaire_de_base

### Le cas d'un couple avec 3 enfants

In [ ]:
simulation = tax_benefit_system.new_scenario().init_single_entity(
    axes = [
        dict(
            count = 20,
            min = 0,
            max = 50000,
            name = 'salaire_de_base',
            ),
        ],
    period = 2016,
    parent1 = dict(
        date_naissance = date(1991, 1, 1),
        ),
    parent2 = dict(
        ),  
    enfants = [
        dict(date_naissance = date(2008, 1, 1)),
        dict(date_naissance = date(2004, 1, 1)),
        dict(date_naissance = date(2000, 1, 1)),
        ],
).new_simulation(debug = True)

In [ ]:
couple_3_enfants_rsa = simulation.calculate_add('rsa')/12
couple_3_enfants_rsa

In [ ]:
couple_3_enfants_salaire_de_base = simulation.calculate_add('salaire_de_base')/12
couple_3_enfants_salaire_de_base

In [ ]:
# Cette manipulation permet d'égaliser la longueur des 2 tableaux (rsa et salaire de base)
c_3_enfants_salaire_de_base = []
i = 0
while (i < len(couple_3_enfants_salaire_de_base)):
    somme = 0
    valeur_1 = couple_3_enfants_salaire_de_base[i]
    i = i + 1
    valeur_2 = couple_3_enfants_salaire_de_base[i]
    i = i + 1
    valeur_3 = couple_3_enfants_salaire_de_base[i]   
    i = i + 1
    valeur_4 = couple_3_enfants_salaire_de_base[i] 
    i = i + 1
    valeur_5 = couple_3_enfants_salaire_de_base[i]    
    somme = valeur_1 + valeur_2 + valeur_3 + valeur_4 + valeur_5
    c_3_enfants_salaire_de_base.append(somme)
    i = i + 1
    
c_3_enfants_salaire_de_base

In [ ]:
plt.plot(individu_sans_enfant_salaire_de_base, individu_sans_enfant_rsa, label="Personne seule sans enfant")
plt.plot(i_1_enfant_salaire_de_base, individu_1_enfant_rsa, label="Personne seule avec 1 enfant")
plt.plot(i_2_enfants_salaire_de_base, individu_2_enfants_rsa, label="Personne seule avec 2 enfants")
plt.plot(i_3_enfants_salaire_de_base, individu_3_enfants_rsa, label="Personne seule avec 3 enfants")
plt.xlabel(u'Salaire de base (€/mois)')
plt.ylabel(u'rsa (€/mois)')
plt.title(u'rsa - Personne seule')
plt.legend(loc = 0, shadow=True, fancybox=True)

In [ ]:
plt.plot(c_sans_enfant_salaire_de_base, couple_sans_enfant_rsa, label="Couple sans enfant")
plt.plot(c_1_enfant_salaire_de_base, couple_1_enfant_rsa, label="Couple avec 1 enfant")
plt.plot(c_2_enfants_salaire_de_base, couple_2_enfants_rsa, label="Couple avec 2 enfants")
plt.plot(c_3_enfants_salaire_de_base, couple_3_enfants_rsa, label="Couple avec 3 enfants")
plt.xlabel(u'Salaire de base (€/mois)')
plt.ylabel(u'rsa (€/mois)')
plt.title(u'rsa - Couple')
plt.legend(loc = 0, shadow=True, fancybox=True)